html, body {
  height: 80%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body, input {
  font-size: 35px;
  font-family: arial, helvetica, sans-serif;
  text-align: center;
}

#input {
  border: none;
  border-bottom: 1px solid #ddd;
}

#input:focus {
    outline: none;
}

.label {
  color: #aaa;
  font-size: 20px;
  margin-top: 9px;
}

.response {
  margin-top: 20px;
  font-size: 30px;
  font-style: italic;
}
